# Add content:
[Unit]
Description=Altitude Monitoring Service
After=network.target

[Service]
User=markus
WorkingDirectory=/home/markus/RocketMonitor/pi/
ExecStart=/home/markus/RocketMonitor/pi/.venv/bin/python /home/markus/RocketMonitor/pi/src/main.py
Restart=always
RestartSec=10
Environment="PYTHONPATH=/home/markus/RocketMonitor/pi/src/"


[Install]
WantedBy=multi-user.target


# sudo systemctl restart altitude-monitor.service
# journalctl -u altitude-monitor.service -f
# It should be placed in /etc/systemd/system/altitude-monitor.service
# clone repo
# change paths & user in service file
# create venv
# install requs
